.whiteboard_container{
    width: 100%;
    display: flex;
}

.whiteboard_cells{
    box-sizing: border-box;
    border-collapse: collapse;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    border: 1px solid #595959;
    margin: 1rem auto 0rem auto;
    color: white !important;
    padding: 0 3em;
    font-size: 2.5em;
    text-align: center;
}

.board{
    width: 80%;
    height: 100%;
    border: 2px dashed white;
    margin: 2rem;
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
}

.note{
    height: 4rem;
    font-size: 1rem;
    background: black;
    margin: 0.2rem;
    color: white;
}

.note:nth-child(2n){
    background: white;
    color: black;
}

.addTaskButton{
    cursor: pointer;
    width: 5rem;
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 900;
    border-radius: .7rem;
    margin: 0rem auto 1rem auto;
    transition: background-color 0.5s ease-in;
}

.addTaskButton:hover{
    background: white;
    color: #262626;
}

.addTaskButton::selection{
    color: none;
}