.header_bar{
    height: auto;
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.project_file_menu{
    width: 100%;
    height: auto;
    font-size: 1.5em;  
    background: gray;
}

.project_file_menu > div {
    display: table-cell;
    padding: 0 1em;
    
}
