.whiteboard_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.whiteboard_cells{
    box-sizing: border-box;
    border-collapse: collapse;
    width: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title{
    color: white !important;
    width: auto;
    height: auto;
    font-size: 2.5em;
    background: gray;
    margin: 1em auto 0em auto;
    padding: 0 3em;
    text-align: center;
}

.board{
    width: auto;
    height: 100%;
    border: 2px dashed white;
    margin: 2rem 2rem 2em 2rem;
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
}

.tools{
    font-size: 3rem;
    line-height: 1em;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 900;
    border-radius: 2rem;
    border: .2rem solid white;
    margin: auto auto 2rem auto;
}
.tools:active{
    background: white;
    color: rgb(58, 58, 58);
}

.tools::selection{
    color: none;
}

.note{
    width: auto; 
    height: auto;
    height: 4rem;
    font-size: 1.3rem;
    text-align: center;
    background: black;
    margin: 0.2rem;
    color: white;

}

.note:nth-child(2n){
    background: white;
    color: black;
}
